.c-currencyitem{
    border: 2px solid $color-primary;
    display: flex;
	flex-direction: column;
	gap: .3rem;
    position: relative;
	cursor: default;
	padding: .3rem;
    &__main{
        display: block;
        position: relative;
    }
	&__secondary{
        display: block;
        position: relative;
    }
	&__percentage-bar{
        position: absolute;
		top: 0;
		left: 0;
        background-color: $color-bitcoin-accessible;
        height: 100%;
    }
    &__text{
        @include text-blocky;
        color: white;
        text-align: right;
        display: block;
        padding: .15em .25em .1em;
        z-index: 1;
        position: relative;
    }
    &__smallunit{
        display: none;
    }
    &--killed{
		border-color: $color-accent--light;
        .c-currencyitem{
			&__main{
				.c-currencyitem__percentage-bar{
					background-color: $color-bitcoin;
				}
				.c-currencyitem__text{
					color: black;
				}
			}
        }
    }

	&:focus-visible{
		outline: 2px solid $color-focus;
		border-color: transparent;
	}
}