// Currency items

@mixin text-card-heading{
    font-family: $font-heading;
    font-size: 2.8rem;
    font-variation-settings: "wght" 700;
    line-height: 1.1;
    color: white;
}
@mixin text-card-excerpt{
    font-family: $font-sans;
    font-size: clamp(1.2rem, 1.8vw, 1.4rem);
    font-variation-settings: 'wght' 400, 'opsz' 9;
    line-height: 1.6;
}